<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <mat-form-field>
      <mat-select placeholder="Day of Week" [formControl]="dayOfWeekControl" multiple>
        <mat-option *ngFor="let day of daysOfWeek">
          {{day}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field>
      <mat-select placeholder="League Type" [formControl]="leagueTypeControl" multiple>
        <mat-option *ngFor="let leagueType of leagueTypes">
          {{leagueType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<mat-list>
  <mat-list-item *ngFor="let league of getFilteredLeagues()">
    <a routerLink="/league/details/{{league.id}}">{{league.name}}</a>
  </mat-list-item>
</mat-list>

<button mat-raised-button routerLink="/league/add">Add League</button>
